<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.standplat.dao.AssessReportInfoDao">
    <select id="fetchOtherDepartment" resultType="com.bestvike.standplat.data.AssessReportInfo" parameterType="com.bestvike.standplat.data.AssessReportInfo">
        select *
        from dept_assess_report
        where assess_month = #{assessMonth} and dep_id &lt;&gt; #{depId}
    </select>

    <select id="selectNeedAss" resultType="com.bestvike.standplat.data.AssessReportInfo">
        select t1.*
        from dept_assess_report t1
        LEFT JOIN dept_info t2 on t1.dep_id=t2.id
        where
        t1.assess_month = #{assessMonth}
        and
        t2.need_assessment='1'
    </select>

</mapper>