<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.standplat.dao.EmpAssessRecordDao">
    <select id="fetch" resultType="com.bestvike.standplat.data.EmpAssessRecord"
            parameterType="com.bestvike.standplat.data.EmpAssessRecord">
        <![CDATA[

            SELECT
                er.*, e. NAME AS empName,
                p. NAME AS postName,
                d.name as deptName
            FROM
                emp_assess_record er
            LEFT JOIN emp_info e ON e.id = er.emp_id
            LEFT JOIN post_info p ON e.post_code = p.code
            LEFT JOIN dept_info d on er.dept_id = d.id
		]]>
        <where>
            d.id != '1'
            and (er.status='00' or er.status='03')
            and er.assess_month = #{assessMonth}
            <if test="fuzzy != null and fuzzy !=''">
                and ( d.name like concat(concat('%',#{fuzzy}),'%')
                or e.name like concat(concat('%',#{fuzzy}),'%')
                or p.name like concat(concat('%',#{fuzzy}),'%') )
            </if>
            ORDER BY d.name
            <if test="sort == 'ascending'">
                ASC
            </if>
            <if test=" sort == 'descending' ">
                DESC
            </if>
        </where>
    </select>
    <select id="fetchAll" resultType="com.bestvike.standplat.data.EmpAssessRecord"
            parameterType="com.bestvike.standplat.data.EmpAssessRecord">
        select ear.* from emp_assess_record ear
        where ear.emp_id in (
        select e.id from emp_info e where ((e.grade &gt;= (
        select e1.grade from emp_info e1 where e1.id = #{empId}
        ) and e.dept_id =#{deptId} )
        or e.dept_id in (select di.id from dept_info di where di.parent =#{deptId} ))
        and e.need_score ='1' and e.status != '9999'
        )
        <if test="assessMonth==null or assessMonth.trim().length()==0 ">
            and ear.assess_month = CONCAT(YEAR(SYSDATE()),MONTH(SYSDATE())-1)
        </if>
        <if test="assessMonth!=null and assessMonth.trim().length()!=0 ">
            and ear.assess_month = #{assessMonth}
        </if>
    </select>
    <!--<select id="fetchThreeLevel" resultType="int" parameterType="com.bestvike.standplat.data.EmpAssessRecord" >
         <![CDATA[
            SELECT count(*) from emp_assess_record e
         ]]>
        <where>
            1=1
            <if test="empId != null and empId !=''">
                and e.emp_id = #{empId}
            </if>
            <if test="assessMonth != null and assessMonth != ''">
                and e.assess_month = #{assessMonth}
            </if>
        </where>
    </select>-->
    <select id="selectByCondition" resultType="com.bestvike.standplat.data.EmpAssessRecord"
            parameterType="com.bestvike.standplat.data.EmpAssessRecord">
        select *
        from emp_assess_record
        where jury_id = #{juryId} and (status = '00' or status = '03') and assess_month = #{assessMonth}
    </select>
</mapper>