<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.standplat.dao.EmpInfoDao">
    <select id="fetch" resultType="com.bestvike.standplat.data.EmpInfo" parameterType="com.bestvike.standplat.data.EmpInfo">
		<![CDATA[
			select e.*,d.name as deptName,p.name as postName from emp_info e left join dept_info d on e.dept_id = d.id left join post_info p on e.post_code = p.code
		]]>
		<where>
			<![CDATA[
			e.status <> '9999'
			]]>
			<if test="fuzzy != null and fuzzy !=''">
				and e.name like concat(concat('%',#{fuzzy}),'%')
			</if>
			<!--<if test="fuzzy == null or fuzzy ==''">
			</if>-->
			<if test="deptId != null and deptId != ''">
				and e.dept_id = #{deptId}
			</if>
		</where>
	</select>
	<select id="fetchDeptEmp" resultType="com.bestvike.standplat.data.EmpInfo" parameterType="com.bestvike.standplat.data.EmpInfo">
		<![CDATA[
			SELECT id,name,dept_id,post_code from emp_info where dept_id=#{deptId} and need_score='1'
		]]>
	</select>
	<select id="fetchEmpIdMax" resultType="java.lang.String" parameterType="com.bestvike.standplat.data.EmpInfo">
		<![CDATA[
			select MAX(id) from emp_info e where e.id like concat(#{deptId},'%')
		]]>
	</select>
	<select id="fetchEmpNotInUser" resultType="com.bestvike.standplat.data.EmpInfo" parameterType="java.lang.String">
		<if test="deptId != null and deptId != ''">
		<![CDATA[
			select e.* from emp_info e where e.status <> 9999 and e.dept_id = #{deptId} and e.id not in (select e.id from emp_info e,sys_user u where e.id = u.emp_id and u.status = 0000)
		]]>
		</if>
		<if test="deptId == null or deptId == ''">
		<![CDATA[
			select e.* from emp_info e where e.status <> 9999 and e.id not in (select e.id from emp_info e,sys_user u where e.id = u.emp_id and u.status = 0000)
		]]>
		</if>
	</select>
	<select id="fetchEmpThreeLevel" resultType="com.bestvike.standplat.data.EmpInfo" parameterType="com.bestvike.standplat.data.EmpInfo">
		<![CDATA[
			SELECT e.* from emp_info e,post_info p WHERE e.post_code = p.code and p.name like '%三级%'
		]]>
	</select>
</mapper>