<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.pub.dao.ArcBuildInfoMapper">
    <!--分页查询用户列表-->
    <select id="queryArcBuildInfoById" resultType="java.lang.String">
            select bldname from Arc_BuildInfo where bldno = '602609053'
    </select>
</mapper>